body {
  background-color: cadetblue;
}

h1 {
  color: azure;
  padding: 15px 32px;
  display: block;
  font-weight: bold;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 50px;
}

h3 {
  color: cadetblue;
  background-color: azure;
  padding: 15px 32px;
  display: inline-block;
  font-weight: bold;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

p {
  color: azure;
  font-weight: normal;
  text-align: justify;
  margin-left: 350px;
  margin-right: 350px;
  font-size: larger;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  display: block;
}

a {
  color: rgb(75, 85, 97);
  text-decoration: none;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

.light {
  background-color: azure;
  font-weight: bold;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  text-align: center;
  color: cadetblue;
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
}
